
.paper__editor {
  width: 100%;
  max-width: 825px;
  position: relative;
  padding-bottom: 0;
  transition: all 200ms cubic-bezier(.2, .3, .25, .9);
  background: transparent;
  zoom: 1;
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor__viewport{
  vertical-align: top;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 63px);
}

.editor {
  padding-top: 92px;
  padding-bottom: calc(50vh - 163px);
  min-height: 226px;
  vertical-align: top;
  width: 100%; //calc(100% - 80px);

  padding-left: 40px;
    padding-right: 40px;
}
